<navbar model="ctrl.navModel"></navbar>

<div class="page-container">
	<div class="page-header">
		<h1 translate>Stats</h1>
	</div>

	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th translate>Name</th>
				<th translate>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td translate>Total dashboards</td>
				<td>{{ctrl.stats.dashboards}}</td>
			</tr>
			<tr>
				<td translate>Total users</td>
				<td>{{ctrl.stats.users}}</td>
			</tr>
			<tr>
				<td translate>Active users (seen last 14 days)</td>
				<td>{{ctrl.stats.activeUsers}}</td>
			</tr>
			<tr>
				<td translate>Total organizations</td>
				<td>{{ctrl.stats.orgs}}</td>
			</tr>
			<tr>
				<td translate>Total datasources</td>
				<td>{{ctrl.stats.datasources}}</td>
			</tr>
			<tr>
				<td translate>Total playlists</td>
				<td>{{ctrl.stats.playlists}}</td>
			</tr>
			<tr>
				<td translate>Total snapshots</td>
				<td>{{ctrl.stats.snapshots}}</td>
			</tr>
			<tr>
				<td translate>Total dashboard tags</td>
				<td>{{ctrl.stats.tags}}</td>
			</tr>
			<tr>
				<td translate>Total starred dashboards</td>
				<td>{{ctrl.stats.stars}}</td>
			</tr>
      <tr>
				<td translate>Total alerts</td>
				<td>{{ctrl.stats.alerts}}</td>
			</tr>
		</tbody>
	</table>
</div>
